body {
  margin: 0;
  padding: 0;
  text-align: center;
}

@font-face {
  font-family: 'Jura';
  src: url('Normograph.ttf');
}

@font-face {
  font-family: 'Copy';
  src: url('Copyviol.ttf');
}

@font-face {
  font-family: 'jdequi';
  src: url('jd_equinox.ttf');
}

#loader{
    transition:opacity .5s;
}
.loader {
    background: #000;
    background: radial-gradient(#222, #000);
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    animation: 
        spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
    ;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: white;
    height: 90px;
    width: 90px;
    top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
    border-color: lightgrey;
    height: 76px;
    width: 76px;
    top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
    border-color: grey;
    height: 62px;
    width: 62px;
    top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
    border-color: dimgrey;
    height: 48px;
    width: 48px;
    top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
    border-color: #3E3E3E;
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    0%, 15% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}


#navbar {
  position: fixed;
  z-index: 5;
  background: #111111;
  height: 100vh;
  width: 0px;
  transition: 0.3s;
}

#navbar a {
  display: none;
  font-family: 'Jura';
  position: fixed;
  color: white;
  font-size: 20px;
  margin-top: 10vh;
  margin-left: 10vw;
  text-decoration: none;
}

#closebtn {
  float: right;
  background: transparent;
  outline: none;
  border: none;
  margin-top: 1vh;
  height: 60px;
  width: 60px;
  transition: 0.5s:
}

#fsec {
  font-size: 15px;
  font-family: 'Jura';
  position: absolute;
  background: url('https://media3.giphy.com/media/fSRQtBAzrPokPCItuu/giphy.webp?cid=6c09b952b2926dab800023bc0b2202682751e09967e7d243&rid=giphy.webp&ct=g');
  background-size: cover;
  background-attachment: fixed;
  color: white;
  height: 40vh;
  width: 100%;
  text-align: center;
}

#openbtn {
  background: transparent;
  outline: none;
  border: none;
  float: right;
  height: 60px;
  width: 60px;
  margin-top: 10vh;
  margin-right: 5vw;
}

#ssec {
  position: relative;
  top: 40vh;
  background: url('https://i.gifer.com/Ego2.gif');
  background-size: cover;
  background-position-x: -30vw;
  height: 100vh;
  width: 100%;
}

#name {
  position: relative;
  font-size: 25px;
  outline: none;
  border: none;
  border-radius: 2px;
  font-family: 'jdequi';
  top: 45vh;
  height: 7vh;
  width: 70vw;
}

#tsec {
  position: relative;
  top: 40vh;
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUTbWMgKV-RSvbqpcQr17-kZEYpGRrU1cmCw&usqp=CAU');
  background-size: cover;
  height: 100vh;
  width: 100%;
}

#school {
  font-family: 'jdequi';
  background: transparent;
  outline: none;
  border: none;
  color: white;
  font-size: 50px;
  position: relative;
  top: 35vh;
  height: 10vh;
  width: 70vw;
}

#schooln {
  background: transparent;
  outline: none;
  color: white;
  border: 2px solid white;
  border-radius: 2px;
  position: relative;
  font-size: 25px;
  font-family: 'jdequi';
  top: 40vh;
  height: 7vh;
  width: 70vw;
}

#schooln:hover {
  background: white;
  color: black;
}

#since {
  position: relative;
  color: white;
  background: transparent;
  outline: none;
  border: none;
  font-family: 'Jura';
  top: 45vh;
  font-size: 20px;
  height: 10vh;
  width: 80%;
}

#fosec {
  position: relative;
  top: 40vh;
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTT-365OG3ZxxTP0qrJD6RVVV7amROkXoOtXg&usqp=CAU');
  background-size: cover ;
  height: 100vh;
  width: 100%;
}

#cer {
  position: relative;
  color: white;
  background: transparent;
  outline: none;
  border: none;
  font-family: 'Jura';
  top: 35vh;
  font-size: 30px;
  height: 10vh;
  width: 80%;
}

#noob {
  background: transparent;
  outline: none;
  color: white;
  border: 2px solid white;
  border-radius: 2px;
  position: relative;
  font-size: 25px;
  font-family: 'jdequi';
  top: 35vh;
  height: 7vh;
  width: 70vw;
}

#noob:hover {
  background: white;
  color: black;
}

#footer {
  position: relative;
  top: 30vh;
  background: black;
  height: 20vh;
  width: 100%;
}

#footer ul {
  position: relative;
  top: 7vh;
  background: transparent;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

#footer ul li {
  border-radius: 50%;
  background: white;
  height: 30px;
  position: relative;
  left: -5vw;
}

.swal2-title {
  font-family: 'Jura';
  font-size: 10px;
}

@media only screen and (min-width: 768px) {
  #fsec {
    height: 20vh;
  }

  #openbtn {
    margin-top: 4vh;
  }

  #ssec {
    background-position-x: -5vw;
    top: 20vh;
    height: 70vh;
  }

  #name {
    top: 30vh;
    font-size: 40px;
  }

  #tsec {
    height: 70vh;
    top: 20vh;
  }

  #school {
    top: 20vh;
    font-size: 100px;
  }

  #schooln {
    top: 20vh;
    font-size: 60px;
  }

  #since {
    font-size: 40px;
    top: 20vh;
  }

  #fosec {
    top: 20vh;
    height: 70vh;
  }

  #cer {
    top: 20vh;
    font-size: 40px;
  }

  #noob {
    top: 20vh;
    font-size: 60px;
  }

  #footer {
    height: 10vh;
    top: 15vh;
  }

  #footer ul {
    margin-left: 5vw;
    top: 4vh;
  }
}